body {
  background-color: orange;
}

p,
h1,
a,
li {
  font-family: 'Roboto Slab', serif;
  color: #FF0DFF;
  font-weight: 700;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  color: #30FFD0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #8CFF30;
}
